.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  
    display: flex;
    justify-content: center;
    align-items: center;     
    z-index: 1000;           
  }

  .form-group{
    border-radius: 15px;
  }


  .form-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 15px 0px 0px 0px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .edit-modal-content {
    display: flex;
    justify-content: center;
    background: antiquewhite;
    padding: 75px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;        
    width: 100%;
    border-radius: 5px;
    border-radius: 15px;
    border: 4px rgb(171, 245, 255) solid;
    background: linear-gradient(to bottom, rgba(2, 39, 84, 0.92), rgba(52, 13, 99, 0.47)), 
    url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732376498/default_planet_fzsx8x.jpg') no-repeat center center;
    background-size: cover;         
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
    gap: 20px; 
  }

  .modal-buttons button{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 60px;
    width: 170px;
  }

  .shell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

 .confirm-del-notebtn,
 .cancel-de-note-btn {
    width:30%
 }

 .del-btn{
    color: antiquewhite;
    background-color: rgb(133, 15, 15);
 }

 .del-btn:hover {
    color: rgb(137, 6, 6);
    background-color: rgb(252, 176, 176);
 }

 .edit-planet-crop-container img {
  width: auto;        
  height: 100%;       
  position: absolute; 
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%);
  }
  
  .edit-planet-crop-container:hover {   
      overflow: hidden;
      filter: brightness(4.1) contrast(0.9);
      filter: drop-shadow(8px 8px 10px gray);
      filter: contrast(200%);
      filter: hue-rotate(90deg);
      filter: saturate(8);
  }

  .z-index-2{
    z-index: 2;
    left:480px !important;
    top:-120px !important;
  }