.card{
    position: relative;
    width: 150px;       
    height: 150px;      
    overflow: hidden;    
    border-radius: 25px;
    border: 4px rgb(171, 245, 255) solid;
    /* box-shadow: rgb(159, 255, 241) 4px 3px 13px;
    margin-bottom: 25px; */
}

.card img{
    width: 100%;       
    height: 100%;       
    width: 100%;
    display: block;
    /* border: 6px solid #c1f7ff; */
    border-radius: 6px;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position:absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}


@keyframes pulseOutline {
    0% {
        outline-width: 4px;
    }
    50% {
        outline-width: 8px; 
    }
    100% {
        outline-width: 4px; 
    }
}

.hostile {
    border-radius: 25px;
    outline: 4px solid red; 
    outline-offset: -2px;  
    animation: pulseOutline 1s ease-in-out infinite !important;
}