.card{
    position: relative;
}

.card img{
    width: 100%;
    display: block;
    border: 6px solid #c1f7ff;
    border-radius: 6px;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position:absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}


@keyframes pulseOutline {
    0% {
        outline-width: 4px;
    }
    50% {
        outline-width: 8px; 
    }
    100% {
        outline-width: 4px; 
    }
}

.hostile {
    border-radius: 5px;
    outline: 4px solid red; 
    outline-offset: 1px;  
    animation: pulseOutline 1s ease-in-out infinite;
}