/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

button{
    font-family: "Zen Dots", sans-serif;
    width: fit-content;
    height: 20px;
    padding: 20px 20px 35px 20px;
    text-align: center;
    align-self: center;
    color: rgb(152, 236, 255);
    background-color: rgb(34, 73, 105);
    border-radius: 30px;
    border: 4px rgb(171, 245, 255) solid;
}

button:hover{
  cursor: pointer;
  color:rgb(17, 37, 53);
  background-color: rgb(55, 171, 221);
}

h1{
    font-family: "Zen Dots", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    padding: 5px;
}

h2{
    font-family: "Zen Dots", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding: 5px;
}

/* Font Classes */
.zen-dots-regular {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-light {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .arsenal-sc-regular {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arsenal-sc-bold {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arsenal-sc-regular-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arsenal-sc-bold-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: italic;
  }
  