/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

button{
    font-family: "Zen Dots", sans-serif;
    width: fit-content;
    height: 20px;
    padding: 20px 20px 35px 20px;
    text-align: center;
    align-self: center;
    color: rgb(152, 236, 255);
    background-color: rgb(34, 73, 105);
    border-radius: 30px;
    border: 4px rgb(171, 245, 255) solid;
}

button:hover{
  cursor: pointer;
  color:rgb(17, 37, 53);
  background-color: rgb(55, 171, 221);
}

h1{
    font-family: "Zen Dots", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    padding: 5px;
}

h2{
    font-family: "Zen Dots", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding: 5px;
}

h3{
  font-family: "Zen Dots", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
}

h4{
  font-family: "Zen Dots", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
}

p{
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

a{
  font-family: "Zen Dots", sans-serif;
}

label{
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

input{
  text-align: center;
  margin: 25px 0px 25px 10px;
  padding: 10px;
  color: rgb(171, 245, 255);
  text-shadow: black 1px 1px 3px;
  height: 35px;
  border-radius: 15px;
  border: 4px rgb(171, 245, 255) solid;
  background: linear-gradient(to bottom, rgba(19, 75, 75, 0.9), rgba(19, 75, 75,  0.9)), 
  url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732118808/cosmic-match-bg2_unas9o.jpg') no-repeat center center;
  background-size: cover; 
}

input[type="text"]{
  font-size: 20px;
  size: 20px;
  width: 90%;
}

input[type="radio"]{
  font-size: 60px;
  size: 20px;
  width: 10%;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
}

.hidden{
  display: none;
}

/* Font Classes */
.zen-dots-regular {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-light {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .arsenal-sc-regular {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arsenal-sc-bold {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arsenal-sc-regular-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arsenal-sc-bold-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: italic;
  }
  
