@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

.hub-page-wrapper{
    background-color: rgb(16, 4, 40);
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(2, 39, 84, 0.92), rgba(52, 13, 99, 0.47)), 
    url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732119360/space-bg_xuo1go.jpg') no-repeat center center;
    background-size: cover; 
}

.hub-title-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.hub-title{
    text-align: center;
    margin: 25px 0px 0px 0px;
    padding: 10px;
    color: rgb(171, 245, 255);
    text-shadow:  rgb(166, 249, 249) 0px 0px 6px;
    width: 30%;
    height: 35px;
    border-radius: 85px;
    border: 4px rgb(171, 245, 255) solid;
    background: linear-gradient(to bottom, rgba(28, 235, 235, 0.319), rgba(11, 202, 227, 0.068)), 
    url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732118808/cosmic-match-bg2_unas9o.jpg') no-repeat center center;
    background-size: cover;  
}

.hub-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 40px;
    /* width: 100%;
    height: 900px; */

}

/* LEFT SHIP BAR  */
.left-ship-bar {
    grid-column: 1;
    grid-row: 1/ span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    padding-bottom: 20px;
    /* width: 20%; */
    /* margin: 40px 20px 0px 40px; */
    background-color: rgb(36, 115, 144);
    border-radius: 10px;
    border: 4px rgb(171, 245, 255) solid;
    background: linear-gradient(to bottom, rgba(28, 235, 235, 0.319), rgba(11, 202, 227, 0.068)), 
    url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732118808/cosmic-match-bg2_unas9o.jpg') no-repeat center center;
    background-size: cover;    
}

.left-ship-bar h2{
    color: rgb(171, 245, 255);
}

.current-ship-img {
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
    border: 4px rgb(171, 245, 255) solid;
}

.ship-info-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
    margin-left: 45px;
    gap: 15px;
    margin-top: 25px;
}

.ship-info-div h2{
    padding: 0px;
    margin: 0px;
}

/* CAPTAIN STATS HORIZONTAL BAR */

.top-stat-bar {
    grid-column: 2 / span 3;
    grid-row: 1;
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr 1fr 1fr;
    /* width: 80%; */
    /* margin: 40px; */
    /* height: 400px; */
    background-color: rgb(36, 115, 144);
    border-radius: 10px;
    border: 4px rgb(171, 245, 255) solid;
    background: linear-gradient(to bottom, rgba(28, 235, 235, 0.319), rgba(11, 202, 227, 0.068)), 
    url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732118808/cosmic-match-bg2_unas9o.jpg') no-repeat center center;
    background-size: cover;    
}

.top-stat-bar h2{
    color: rgb(171, 245, 255);
}

.cpt-name-hub{
    grid-column: 1 /span 3;
    grid-row: 1;
}

.cpt-name-hub h2{
    font-family: "Zen Dots", sans-serif;
}

.stat-bar-stat-lvl{
    grid-column: 1;
    grid-row: 2;
}

.stat-bar-stat-gold{
    grid-column: 2;
    grid-row: 2;
}

.stat-bar-stat-runs{
    grid-column: 3;
    grid-row: 2;
}

.stat-bar-select-text{
    grid-column: 2/ 4;
    grid-row: 3;
    text-align: right;
}


.stat-bar-planet-select{
    grid-column: 4/ 5;
    grid-row: 3;
    padding-top: 15px;
}

#card_id{
    font-family: "Zen Dots", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
    width: 300px;
    min-width: 300px;
    max-width: 800px;
}

.stat-bar-btn-1{

    grid-column: 1;
    grid-row: 4;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(34, 73, 105);
    border-radius: 20px;
    border: 4px rgb(171, 245, 255) solid;
    margin: 10px;
    font-family: "Zen Dots", sans-serif;
    color: rgb(152, 236, 255);
    text-decoration: none;
}

.stat-bar-btn-1:hover {
    background-color: aqua;
    color: rgb(33, 67, 95);
    cursor: pointer;
}

.stat-bar-btn-2{
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(34, 73, 105);
    border-radius: 20px;
    border: 4px rgb(171, 245, 255) solid;
    margin: 10px;
    font-family: "Zen Dots", sans-serif;
    color: rgb(152, 236, 255);
    text-decoration: none;
}

.stat-bar-btn-2:hover {
    background-color: aqua;
    color: rgb(33, 67, 95);
    cursor: pointer;
}

.stat-bar-btn-3{
    grid-column: 3;
    grid-row: 4;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(34, 73, 105);
    border-radius: 20px;
    border: 4px rgb(171, 245, 255) solid;
    margin: 10px;
    font-family: "Zen Dots", sans-serif;
    color: rgb(152, 236, 255);
    text-decoration: none;
}

.stat-bar-btn-3:hover {
    background-color: aqua;
    color: rgb(33, 67, 95);
    cursor: pointer;
}

.stat-bar-btn-4{
    grid-column: 4;
    grid-row: 4;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(55, 171, 221);
    border-radius: 20px;
    border: 4px rgb(171, 245, 255) solid;
    margin: 10px;
    font-family: "Zen Dots", sans-serif;
    color:rgb(17, 37, 53);
    text-decoration: none;
}

.stat-bar-btn-4:hover {
    color: aqua;
    background-color: rgb(0, 157, 255);
    cursor: pointer;
}

.button-div{
    text-align: center;
}



.create-a-ship{
    grid-column: 4;
    grid-row: 3;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(55, 171, 221);
    border-radius: 20px;
    border: 4px rgb(171, 245, 255) solid;
    margin: 10px;
    font-family: "Zen Dots", sans-serif;
    color:rgb(17, 37, 53);
    text-decoration: none;
}

.create-a-ship:hover {
    color: aqua;
    background-color: rgb(0, 157, 255);
    cursor: pointer;
}

/* Bottom Planets Bar */
.bottom-planets-bar{
    grid-column: 2 / span 3;
    grid-row: 2 /span 3;
    margin-top: 40px;
    /* height: 500px; */
    background-color: rgb(36, 115, 144);
    border-radius: 10px;
    border: 4px rgb(171, 245, 255) solid;
    background: linear-gradient(to bottom, rgba(28, 235, 235, 0.319), rgba(11, 202, 227, 0.068)), 
    url('https://res.cloudinary.com/di0fa12vz/image/upload/v1732118808/cosmic-match-bg2_unas9o.jpg') no-repeat center center;
    background-size: cover;    
}